/** Tablets - 768px **/
@media only screen and (max-width: 768px) {
  header {
    overflow: visible;
    .logo-container {
      #openMenu {
        display: block;
      }
      .logo {
        position: static;
        width: 5rem;
      }
    }
    #desktop-nav {
      display: none;
    }
  }
  #jumbotron {
    padding: 1rem 0 2rem 0;
    h1 {
      font-size: 3rem;
    }
    #mission-statement {
      p {
        font-size: 1rem;
        width: 90%;
      }
    }
    background-image: url("../images/clothespens-sm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #how-to-help {
    flex-direction: column;
    height: 110vh;
    .subsection {
      height: 33.33%;
      width: 100%;
    }
    #donate {
      order: 2;
    }
    #message {
      border-bottom: 2px solid white;
      p {
        font-size: 1.5rem;
        width: 100%;
      }
      h3, i {
        font-size: 1.5rem;
      }
      #group {
        margin: 1rem 0;
      }
      order: 1;
    }
    #involved {
      order: 3;
    }
  }
  .page-header {
    p {
      width: 90% !important;
    }
  }
  #our-mission {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: .8rem;
    }
  }
  #upcoming-events {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: .8rem;
      width: 90% !important;
    }
    .btn {
      font-size: 1rem;
    }
  }
  #past-events {
    flex-direction: column;
    min-height: 150vh;
    .event-container {
      width: 100%;
      .inner-text {
        p {
          height: 75px;
        }
      }
    }
  }
  /** How to Help Page **/
  #help-intro {
    font-size: 1.5rem;
    h1 {
      font-size: 3rem;
      padding: 1rem 0;
    }
  }
  #donate-sect {
    #donate-rules {
      flex-direction: column;
      .rules-container {
        width: 100%;
      }
      .rules-container:nth-child(1) {
        border-bottom: 2px solid white;
      }
    }
  }
  /** Get Involved Page **/
  #involved-intro {
    h1 {
      font-size: 3rem;
      padding: 1rem 0;
    }
  }
  #volunteer {
    #upcoming-evt {
      flex-direction: column;
      height: auto;
      .evt-sect {
        height: 33.33%;
        padding-bottom: 1rem;
        width: 100%;
        p {
          height: 5rem;
        }
      }
    }
  }
  #careers {
    #career-sect {
      flex-direction: column;
      height: auto;
      p {
        width: 90%;
      }
      #positions {
        padding-bottom: 1rem;
        width: 100%;
      }
      #career-info {
        padding-bottom: 1rem;
        width: 100%;
        h4 {
          background: white;
          border-bottom: 2px solid #ff2800;
          color: #ff2800;
        }
        p {
          width: 90%;
        }
        .btn {
          margin-top: 0.5rem;
        }
      }
    }
  }
  /** Get in Touch **/
  #contact-intro {
    h1 {
      font-size: 3rem;
      padding: 1rem 0;
    }
  }
  .contact {
    #contact-card {
      width: 90%;
      p {
        font-size: 1.5rem;
      }
      #contact-social {
        font-size: 2rem;
      }
    }
  }
  #find-container {
    #locate-address {
      width: 90%;
      p {
        font-size: 1.5rem;
      }
    }
    #locate-map {
      width: 90%;
    }
  }
  .banner {
    h2 {
      font-size: 3rem;
    }
    .evt-progress-bar {
      width: 80%;
    }
  }
  .event-info {
    .event-container {
      width: 80%;
      .sign-up {
        #submit {
          font-size: 1.5rem;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    .footer-section {
      height: 33.3%;
    }
    #footer-contact {
      text-align: center;
      .socials {
        margin-right: 0;
      }
    }
    #footer-copy {
      .logo {
        display: none;
      }
      #copyright {
        margin-top: 1rem;
      }
    }
    #footer-menu {
      display: none;
    }
  }
}

/** Phones < 425px **/
@media only screen and (max-width: 425px) {
  #jumbotron {
    #mission-statement {
      p {
        font-size: 0.8rem;
      }
    }
  }
  #donate-sect {
    #dnt-btn-contianer {
      #dnt-btn {
        font-size: 1.5rem;
      }
    }
  }
  #shop-sect {
    #find-us {
      #find-btn {
        font-size: 1.5rem;
      }
    }
  }
  .contact {
    #contact-card {
      border-radius: 0px;
      width: 100%;
      p {
        font-size: 1.25rem;
      }
    }
  }
  #find-container {
    #locate-address {
      border-radius: 0px;
      width: 100%;
      p {
        font-size: 1.25rem;
      }
    }
    #locate-map {
      border-radius: 0px;
      width: 100%;
    }
  }
  .event-info {
    .event-container {
      .evt-time {
        font-size: 1.25rem;
      }
      .evt-description {
        .bold {
          font-size: 1.1rem;
        }
      }
    }
  }
  footer {
    min-height: 40vh;
    #footer-copy {
      height: auto;
    }
  }
}
